.container {
    background-color: #737373;
    padding: 30px;
    border-radius: 5px;
  }

  .container h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .container input[type="text"],
  .container input[type="password"] {
    width: 50%;
    padding: 15px;
    margin: 20px 200px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
  }
.log{
    display:block;
    padding: 10rem;
    align-content: center;
}
.log img{
  width: auto;
  height: 100px;
  padding-left: 230px;
}

  .container button {
    width: 10%;
    padding: 15px;
    margin: 20px 510px;
    background-color:#8AA4D6;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
